:host {
    .sign-up {
        &-header {
            margin-bottom: 1rem;
        }
        &-actions {
            padding-left: 1rem;
            padding-bottom: 1rem;
        }
    } 
    .mat-raised-button{
        background-color: rgb(72, 95, 161);
    }
}